@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    text-align: center;
    font-family: 'Poppins', sans-serif;

}
#photo{
    height: 200px;
    width: 50%;
    margin: 20px auto;
    border-radius: 10px;
    /* background-color: rgb(135, 188, 206); */
}
#photo img{
    max-width: 50%;
    max-height: 200px;
}
#show{
    color: rgb(45, 4, 92);
    font-weight: 600;
    margin: 0px;
}
#addBtn{
    border-radius: 100%;
    outline: none;
    border: none;
    padding: 10px 17px;
    background-color: rgb(219, 215, 215);
    margin-top: 30px;
}
#blue{
    background-color: #94BEFF;
}
#c1{
    color:white;
}
#c2{
    font-weight: 600;

}
#wave{
    color: white;
    font-weight: 600;
}
#name{
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 8px 0;
    width: 200px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(236, 236, 236);
}

#weight{
    border-radius: 10px;
    background-color:rgb(236, 236, 236);
    outline: none;
    border: none;
    width:200px;
    padding:8px 0;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

#unit{
    border-radius: 10px;
    background-color:rgb(236, 236, 236);
    outline: none;
    border: none;
    width:200px;
    padding:8px 0;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;

}
#ageSelct{
    border-radius: 10px;
    background-color:rgb(236, 236, 236);
    outline: none;
    border: none;
    width:200px;
    padding:8px 0;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
#valueWater{
    border-radius: 10px;
    background-color:rgb(236, 236, 236);
    outline: none;
    border: none;
    width:200px;
    padding:8px 0;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.div1{
    color:black;
    font-weight: 600;
}
#btnn{
    background-color:#94BEFF;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    width:200px;
    padding:10px 0;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;

}