@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    text-align: center;
    font-family: 'Poppins', sans-serif;

}
#photo{
    height: 200px;
    width: 50%;
    margin: 20px auto;
    border-radius: 10px;
    /* background-color: rgb(135, 188, 206); */
}
#photo img{
    max-width: 50%;
    max-height: 200px;
}
#show{
    color: rgb(45, 4, 92);
    font-weight: 600;
    margin: 0px;
}
#addBtn{
    border-radius: 100%;
    outline: none;
    border: none;
    padding: 10px 17px;
    background-color: rgb(219, 215, 215);
    margin-top: 30px;
}