@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    text-align: center;
    font-family: 'Poppins', sans-serif;

}
#photo{
    height: 200px;
    width: 50%;
    margin: 20px auto;
    border-radius: 10px;
    /* background-color: rgb(135, 188, 206); */
}
#photo img{
    max-width: 50%;
    max-height: 200px;
}
#show{
    color: rgb(45, 4, 92);
    font-weight: 600;
    margin: 0px;
}
#addBtn{
    border-radius: 100%;
    outline: none;
    border: none;
    padding: 10px 17px;
    background-color: rgb(219, 215, 215);
    margin-top: 30px;
}
#blue {
    background-color: #94beff;
    padding: 35px 10px;
  }
  #c1 {
    color: white;
  }
  #c2 {
    font-weight: 600;
    display: block;
    text-align: right;
  }
  #wave {
    color: white;
    text-align: right;
    font-weight: 600;
    font-size: 4rem;
  }
  .div1 {
    text-align: center;
    padding: 5px 15px;
    margin: 8px auto;
  }
  input,
  select {
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 15px 0;
    width: 70%;
    text-align: center;
    background-color: rgb(236, 236, 236);
  }
  .div1 label {
    color: black;
    font-weight: 600;
    width: 30%;
  }
  #btnn {
    background-color: #94beff;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 200px;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  @media only screen and (min-width: 720px) {
    #c2 {
      text-align: center;
    }
    #wave {
      text-align: center;
    }
    .div1 {
      width: 50%;
    }
  }